html, body {
  background-color: #fafafa;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main-title {
  font-size: 10mm;
}

#sub-title {
  font-size: 4mm;
}

#header {
  font-family: Arial, sans-serif;
  flex-direction: row;
  align-items: center;
  padding: var(--header-padding);
  --header-padding: 2mm;
  width: calc(100% - (2*var(--header-padding)));
  height: 15mm;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-between;
}

.major-category {
  padding: 1mm;
  font-size: 7.5mm;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.file-container {
  align-self: center;
  width: 75%;
  overflow-y: auto;
}

.file {
  background-color: #fff;
  border: 2px solid black;
  padding: 10px;
}